.blogdetail {
    padding-bottom: var(--pdSection);
    .wrapper {
        padding-top: calc(var(--pdSection) - 20px);
        margin: auto;
    }
    &__title {
        max-width: var(--smallContainer);
        margin: 0 auto 40px auto;
        .title {
            text-align: center;
        }
        .meta {
            @include mid(true);
            margin-top: 10px;
            &__item {
                @include text($fs-text-up, $font-rm, null, $grey-cl-v1, uppercase);
                &:not(:last-child) {
                    display: flex;
                    align-items: center;
                    &::after {
                        content: "|";
                        margin: 0 8px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    &__content {
        > img {
            width: 900px;
            margin: auto;
            max-width: 100%;
        }
        &-entry {
            max-width: var(--smallContainer);
            margin: 50px auto;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: gb;
                line-height: normal;
                display: block;
            }
            h1 {
                font-size: 2em;
                margin: 0.67em 0;
            }
            h2 {
                font-size: 1.5em;
                margin: 0.75em 0;
            }
            h3 {
                font-size: 1.17em;
                margin: 0.83em 0;
            }
            h4 {
                font-size: 1em;
                margin: 1.12em 0;
            }
            h5 {
                font-size: 0.83em;
                margin: 1.5em 0;
            }
            h6 {
                font-size: 0.67em;
                margin: 1.67em 0;
            }
            img {
                height: auto;
                margin: 25px auto;
                display: block;
            }
            p {
                margin: 1.12em 0;
            }
            em {
                font-style: italic;
                display: block;
                margin: auto;
            }
            ol,
            ul {
                list-style-type: disc;
                padding-left: 40px;
            }
            .video {
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
                margin: 25px auto;
                iframe,
                video {
                    position: absolute;
                    @include size(100%);
                    top: 0;
                    left: 0;
                }
            }
            a {
                color: $main-cl;
                word-break: break-all;
                &[target="_blank"] {
                    word-break: initial;
                }
            }
        }
        &-social {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
                width: 100px;
                font-family: $font-gm;
                @include transition($t);
                img {
                    width: 15px;
                    margin: 0;
                }
                span {
                    position: relative;
                    bottom: -2px;
                    margin-left: 5px;
                }
                &:hover {
                    opacity: 0.9;
                    @include transition($t);
                }
            }
            .btn-fb {
                background-color: #4267b2;
            }
            .btn-linkedin {
                background-color: #0077b5;
            }
        }
    }
    &__related {
        margin-top: 8rem;
        &-title {
            text-align: center;
            margin-bottom: 5rem;
        }
    }
    @include xs {
        .wrapper {
            width: 100%;
        }
        &__title {
            margin-top: 15px;
            margin-bottom: 30px;
            .meta {
                margin-top: 10px;
                flex-wrap: wrap;
                .label {
                    margin-bottom: 0;
                }
            }
        }
        &__related {
            margin-top: 6rem;
            &-title {
                margin-bottom: 3rem;
            }
        }
    }
}
